{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Steve Jobs <small>Actividades filtradas por usuario.</small></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar por usuario...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Buscar</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="clearfix"></div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Tabla Actividades</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <table id="datatable-button" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Asunto</th>
                          <th>Descripcion</th>
                          <th>Fecha Inicio</th>
                          <th>Fecha Fin</th>
                          <th>Estado</th>
                       
                        </tr>
                      </thead>


                      <tbody>
                        <tr>
                          <td>Capacitacion 1</td>
                          <td><a href="#">Capacitacion de 20 horas semanales a obreros y jefes de..</a></td>
                          <td>01/01/2018</td>
                          <td>05/01/2018</td>                       
                          <td><span class="label label-success">Completado</span></td>


                        </tr>
                        <tr>
                          <td>Capacitacion 1</td>
                          <td><a href="#">Capacitacion de 20 horas semanales a obreros y jefes de..</a></td>
                          <td>01/01/2018</td>
                          <td>05/01/2018</td>                       
                          <td><span class="label label-success">Completado</span></td>


                        </tr>
                        <tr>
                          <td>Capacitacion 1</td>
                          <td><a href="#">Capacitacion de 20 horas semanales a obreros y jefes de..</a></td>
                          <td>01/01/2018</td>
                          <td>05/01/2018</td>                       
                          <td><span class="label label-success">Completado</span></td>



                        </tr>
                        <tr>
                          <td>Capacitacion 1</td>
                          <td><a href="#">Capacitacion de 20 horas semanales a obreros y jefes de..</a></td>
                          <td>01/01/2018</td>
                          <td>05/01/2018</td>                       
                          <td><span class="label label-primary">Progresando</span></td>


                        </tr>
                        <tr>
                          <td>Capacitacion 1</td>
                          <td><a href="#">Capacitacion de 20 horas semanales a obreros y jefes de..</a></td>
                          <td>01/01/2018</td>
                          <td>05/01/2018</td>                       
                          <td><span class="label label-primary">Progresando</span></td>


                        </tr>
                        <tr>

                          <td>Capacitacion 1</td>
                          <td><a href="#">Capacitacion de 20 horas semanales a obreros y jefes de..</a></td>
                          <td>01/01/2018</td>
                          <td>05/01/2018</td>                       
                          <td><span class="label label-danger">Incompleto</span></td>


                        </tr>
                          <tr>
                          <td>Capacitacion 1</td>
                          <td><a href="#">Capacitacion de 20 horas semanales a obreros y jefes de..</a></td>
                          <td>01/01/2018</td>
                          <td>05/01/2018</td>                       
                          <td><span class="label label-danger">Incompleto</span></td>

                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              </div>
              </div>
              </div>
              
        <!-- /page content -->




<style type="text/css">
.tag_red {
    display: block;
    height: 30px;
    font-size: 13px;
    padding: 8px;
}
.tag_red {
    line-height:1;
    background:#bb1a1a;
    color:#fff!important
}

.tag_red:after{
    content:" ";
    height:30px;
    width:0;
    position:absolute;
    left:100%;
    top:0;
    margin:0;
    pointer-events:none;
    border-top:14px solid transparent;
    border-bottom:14px solid transparent;
    border-left:11px solid #bb1a1a
  }

.tag_blue {
    display: block;
    height: 30px;
    font-size: 13px;
    padding: 8px;
}
.tag_blue {
    line-height:1;
    background:#337ab7;
    color:#fff!important
}

.tag_blue:after{
    content:" ";
    height:30px;
    width:0;
    position:absolute;
    left:100%;
    top:0;
    margin:0;
    pointer-events:none;
    border-top:14px solid transparent;
    border-bottom:14px solid transparent;
    border-left:11px solid #337ab7;
  }

</style>

{% endblock content %}


{% block content2 %}

<script type="text/javascript">
$(document).ready(function() {
    $('#datatable-button').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            {
                extend: "copy",
                className:"btn-sm",

            },
            {
                extend: "csv",
                className:"btn-sm",

            },
            {
                extend: "print",
                className:"btn-sm",

            },


        ],
        responsive: !1000
    } );
    } );
</script>  
</script> 

{% endblock content2 %}